<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Movie searcher application">

    <!-- Metadata para PWA -->

    <!-- Color barra de estado Android -->
    <meta name="theme-color" content="#f2f2f2">
    <!-- Optimizaciones de SEO -->
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <!-- Barra de estado IOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Movies</title>

    <!-- Iconos -->
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="./img/favicon.png">
    <link rel="apple-touch-startup-image" href="./img/favicon.png">

    <!-- Manifest -->
    <link rel="manifest" href="./manifest.webmanifest">

    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>

        <form @submit.prevent="getMovie" class="searcher">
            <input type="text" v-model.trim="movieTitle" class="search" placeholder="Enter your movie">
        </form>

        <div v-if="movieTitle=='' || movieData.Response=='False'">
            <p>No movie search</p>
        </div>

        <div class="container" v-if="movieTitle!='' && movieData.Response=='True'">
            <div class="poster">
                <img :src="movieData.Poster" :alt="movieData.imdbID" v-if="movieData.Poster!='N/A'">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1200px-No-Image-Placeholder.svg.png" :alt="movieData.imdbID" v-if="movieData.Poster=='N/A'" class="nd">
            </div>

            <div class="info">
                <p><strong>Movie:</strong> {{ movieData.Title }}</p>
                <p><strong>Year:</strong> {{ movieData.Year }}</p>
                <p><strong>Genre:</strong> {{ movieData.Genre }}</p>
                <p><strong>Actors:</strong> {{ movieData.Actors }}</p>
                <p><strong>Synopsis:</strong> {{ movieData.Plot }}</p>
            </div>
        </div>

        <footer>
            <p>Created by {{ author }}</p>
        </footer>
    </div>
    
    <script src="./load.js"></script>

    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
</body>
</html>